$backGroundColor: #ebeef3;

.navContainer {
  display: flex;
  justify-content: center;
  background-color: $backGroundColor;

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      a {
        all: unset;
      }
    }
  }
}
